
#root {
  margin: 0 auto;
  text-align: left; /* Change to left if you don't want centered text */
  width: 100%;
}
.App {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top */
  align-items: start;
  height: 100%;
  min-height: 100vh;
}
